@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif; 
  background-color: #f8f9fa;
}

.text-vintage {
  color: #008080; 
}

.bg-vintage {
  background-color: #008080;
  color: white;
}